/* Sidebar.css */

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --bg-color: #f8f9fa;
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: var(--bg-color);
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}
.sidebar a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 16px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.sidebar a.active {
  background-color: var(--primary-color);
  color: #fff;
}

.sidebar a.active:hover {
  background-color: #0069d9;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.sidebar .logo h3 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.sidebar .collapse {
  margin-bottom: 10px;
}

.sidebar .collapse i {
  float: right;
  transition: transform 0.3s;
}

.sidebar .collapse.collapsed i {
  transform: rotate(90deg);
}

.sidebar .collapse i:hover {
  cursor: pointer;
}

.sidebar .collapse span {
  display: block;
  margin-left: 20px;
  font-size: 14px;
  transition: color 0.3s;
}

.sidebar .collapse.collapsed span {
  color: var(--secondary-color);
}

.sidebar .collapse.collapsed i {
  transform: rotate(0);
}

.sidebar .collapse.collapsed .submenu {
  display: none;
}

.sidebar .submenu {
  padding-left: 10px;
}

.sidebar .submenu a {
  padding-left: 20px;
}

.sidebar .submenu a:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.sidebar .submenu .submenu a {
  padding-left: 30px;
}

.sidebar .submenu .submenu a:hover {
  background-color: #0069d9;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: visible;
  }

  .sidebar ul {
    margin-top: 20px;
  }

  .sidebar li {
    margin-bottom: 5px;
  }

  .sidebar a {
    padding: 5px;
  }

  .sidebar .logo {
    margin-bottom: 10px;
  }

  .sidebar .collapse i {
    float: none;
    display: inline-block;
    margin-left: auto;
  }

  .sidebar .collapse span {
    display: inline-block;
    margin-left: 0;
  }

  .sidebar .submenu {
    display: none;
  }

  .sidebar.expanded .submenu {
    display: block;
  }
}