.navbar {
    padding: 1rem 0;
    border-bottom: 1px solid #e5e5e5;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #343a40;
    transition: color 0.4s;
    letter-spacing: -0.5px;
  }
  
  .navbar-toggler {
    border: none;
    background-color: transparent;
  }
  
  .navbar-toggler-icon {
    color: #343a40;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin: 0 0.5rem;
  }
  
  .nav-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #343a40;
    transition: color 0.4s;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .nav-link:hover {
    color: #007bff;
    background-color: #f8f9fa;
  }
  
  .nav-link.active {
    color: #007bff;
    font-weight: bold;
  }
  
  @media (max-width: 991.98px) {
    .navbar-toggler-icon {
      transform: rotate(90deg);
    }
  
    .navbar-collapse {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f8f9fa;
      border-right: 1px solid #e5e5e5;
      overflow-y: auto;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-100%);
    }
  
    .navbar-collapse.show {
      transform: translateX(0);
    }
  
    .nav-item {
      text-align: center;
      margin: 1rem 0;
    }
  
    .nav-link {
      padding: 0.5rem 1rem;
    }
  }